{% extends 'base.html.twig' %}

{% block body %}

    {{ include('partials/_navbar.html.twig') }}

    <div class="_main">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Welcome to this new website</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, aliquam, autem beatae eaque esse ipsa minima nisi optio perspiciatis placeat quidem reiciendis repudiandae? Beatae error in nesciunt officiis suscipit!
                    </p>
                    <a href="" class="btn btn-success">Get started</a>
                    <br>
                    <small class="text-black-50">Lorem ipsum dolor sit.</small>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
